<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <h1>La Virgo Cueva</h1>

    {% for games in game %}

        <div>
            <img src="{{games.port_image.url}}" alt="JAJA XD" style="height: 350px;">
            <h2 style="color: crimson;">{{games.title}}</h2>
            <p>{{games.description}}</p>
            <p><strong>Generos</strong></p>
            {% for genres in games.genre.all %}
                <li>{{genres.genre}}</li>
            {% endfor %}
            <p><strong>Fecha de Lanzamiento</strong></p>
            <p>{{games.date_sale}}</p>
            <p><strong>Plataformas</strong></p>
            {% for platforms in games.platforms.all %}
                <li>{{platforms.platform}}</li>
            {% endfor %}
            <hr>
            <hr>
        </div>

    {% endfor %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</body>
</html>